# YOLO runs
runs/

# Results
# results/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.chache
# Jupyter Notebook
.ipynb_checkpoints

# Model weights
*.pt
!yolo11n.pt

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
